.education-form form {
  display: flex;
  flex-direction: column;
  background-color: white;
  border-radius: 10px;
  margin-bottom: 30px;
  padding: 15px;
  h1 {
    font-size: 24px;
    font-family: Archivo, Arial, sans-serif;
  }
}
.form-title {
  color: #343a40;
}
.input-group label {
  display: flex;
  flex-direction: column;
  margin-bottom: 16px;
  font-weight: 700;
}
.input-group input {
  margin-top: 12px;
}
label {
  margin-bottom: 4px;
  padding-bottom: 10px;
}
.collapse-input-group {
  overflow: hidden;
  max-height: 0px;
  transition: max-height 0.3s ease;
}

.expand-input-group {
  overflow: hidden;
  max-height: 500px;
  transition: max-height 0.3s ease;
}
input {
  padding: 10px 15px;
  border: 2px solid #ccc;
  border-radius: 10px;
  font-size: 16px;
  outline: none;
  transition: border-color 0.3s ease, box-shadow 0.3s ease;
}
.heading {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
#add-new {
  padding: 12px 24px;
  font-size: 16px;
  font-weight: bold;
  cursor: pointer;
  background-color: #e9ecef;
  border: 2px solid rgba(0, 0, 0, 0.468);

  transition: background-color 0.3s ease, transform 0.2s ease;
}
.button-group {
  display: flex;
  justify-content: space-between;
  width: 100%;
  gap: 10px;
}
#delete {
  padding: 12px 24px;
  font-size: 16px;
  font-weight: bold;
  cursor: pointer;
  background-color: white;
  border: 2px solid rgba(0, 0, 0, 0.468);
  margin: 0;

  transition: background-color 0.3s ease, transform 0.2s ease;
}
#delete:hover {
  background-color: rgba(191, 0, 22, 0.903);
  color: white;
  border: 2px solid rgba(121, 154, 165, 0.468);
}
#save {
  padding: 12px 24px;
  font-size: 16px;
  font-weight: bold;
  cursor: pointer;
  background-color: white;
  border: 2px solid rgba(0, 0, 0, 0.468);
  margin: 0;
  transition: background-color 0.3s ease, transform 0.2s ease;
}
#save:hover {
  background-color: rgba(60, 3, 218, 0.581);
  color: white;
  border: 2px solid rgba(121, 154, 165, 0.468);
}
#add-new:hover {
  background-color: rgba(85, 94, 97, 0.468);
  color: white;
  border: 2px solid rgba(116, 167, 186, 0.468);
}

#add-new:focus {
  outline: none;
  box-shadow: 0 0 0 4px rgba(0, 123, 255, 0.3);
}
